body {
   margin: auto;
   background-image: url("background.png");
    /* background-color: rgb(255, 249, 255); */
  }
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  color: rgb(69, 9, 65);
  font-family: "Lucida Console", "Courier New", monospace;
  margin: auto;
  text-align: center;
}

p {
  color:midnightblue;
  text-align: center;
}

.navigator {
  margin: auto;
  border-style: double;
  background-color: white;
  width: 500px;
  height: 20px;
  text-align: center;
}

.audio-player {
  width: 300px;
  margin: auto;
}

.faq {
  margin: auto;
  width: 700px;
}

.intro {
  margin: auto;
  width: 700px;
} 

.links {
  margin: auto;
  width: 700px;
}