body {
    background-color: rgb(255, 249, 255);
  }
  
h1 {
  color: rgb(69, 9, 65);
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 10px;
}

.audio-player {
  width: 300px;
  margin: 20px;
}