body {
   margin: auto;
    background-color: rgb(255, 249, 255);
  }
  
h1 {
  color: rgb(69, 9, 65);
  font-family: "Lucida Console", "Courier New", monospace;
  margin: auto;
  text-align: center;
}

p {
  color:midnightblue;
  text-align: center;
}

.navigator {
  margin: auto;
  border-style: double;
  background-color: white;
  width: 500px;
  height: 20px;
  text-align: center;
}

.audio-player {
  width: 300px;
  margin: auto;
}

.faq {
  margin: auto;
  width: 700px;
}

.intro {
  margin: auto;
  width: 700px;
}